{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href={% static "itinerary.css" %}/>
  </head>
  <body class="backgroundimg">
    <section>
      <nav>
        <ul class="nav-links">
          <li>
            <img class="toplogo" src={% static "logo.png" %} alt="Logo"
            height="100"/>
          </li>
          <li>Itinerary - Final</li>
        </ul>
      </nav>
      <img src={% static "Final list.png" %} alt="">
      <div></div>

      <img src={%static "log.png"%} alt="" />
      <h1>Enter the number of people wants to travel</h1>
      <input type="text" name="" id="" />
      <button type="submit">Next</button>
    </section>
  </body>
</html>
