{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href={% static "location.css" %} />
    <link rel="stylesheet" href="itinerary.css" />
  </head>
  <body class="backgroundimg">
    <section>
      <nav>
        <ul class="nav-links">
          <li>
            <img class="toplogo" src={% static "logo.png" %} alt="Logo"
            height="100"/>
          </li>
          <li>Itinerary-Troops</li>
        </ul>
      </nav>
    </section>
    <img src={% static "navigation.png" %} alt="">
    <div>A photo here</div>

    <h1>Enter the number of people wants to travel</h1>
    <input type="text" name="" id="" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
